<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">
	<listeners>
		<listener class-name="Utils.ExtentReporterNG" />
	</listeners>
	<test name="Test">
		<groups>
			<run>
				<include name="IntegrationTests" />
			</run>
		</groups>
		<classes>
			<class name="TestSute.ManualEntryWithAPI" />
			<class name="TestSute.ManualEntryWithSel" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->